<div>
    <form [formGroup] = "formdata" (ngSubmit) = "onClickSubmit(formdata.value)"v>
       <input type = "text" class="form-control"   name = "emailid" placeholder = "emailid" 
          formControlName = "emailid">
       <br/>
       <input type = "password"  class="form-control"   name = "passwd" 
          placeholder = "passwd" formControlName = "passwd">
       <br/>
       <input type = "submit" [disabled] = "!formdata.valid" class = "btn btn-info" 
          value = "Log In">
    </form>
 </div>
 
 <p>
    Email entered is : {{emailid}}
 </p>